@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/pt-sans/pt-sans-regular.woff2') format('woff2'),
        url('../fonts/pt-sans/pt-sans-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/pt-sans/pt-sans-bold.woff2') format('woff2'),
        url('../fonts/pt-sans/pt-sans-bold.woff') format('woff');
    font-display: swap;
}

/* PT Sans Narrow */

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/pt-sans-narrow/pt-sans-narrow-regular.woff2') format('woff2'),
        url('../fonts/pt-sans-narrow/pt-sans-narrow-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/pt-sans-narrow/pt-sans-narrow-bold.woff2') format('woff2'),
        url('../fonts/pt-sans-narrow/pt-sans-narrow-bold.woff') format('woff');
    font-display: swap;
}

html {
    height: 100%;
    /* outline: 5px solid red;
    outline-offset: -5px; */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT-Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #FBF7F4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.page-header {
    color: #FFFFFF;
    background: #000000;
}

.navigation-logo {
    display: flex;
    align-items: center;
    width: 140px;
    margin-right: 100px;
}

.navigation {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 430px;
    /* 320px + (320 / 3) */
    list-style-type: none;
}

.navigation-link {
    display: block;
    padding: 24px 20px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: inherit;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-user {
    max-width: 250px;
    /* 210px + 40px для возможно еще одной иконки */
    margin-left: auto;
}

.navigation-user .navigation-list {
    min-width: 16px;
    min-height: 22px;
}

.main-container {
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 61px;
}

.page-container {
    width: 940px;
    margin: 0 auto;
}

.main-index {
    color: #FFFFFF;
    background-color: #000;
    background-image: url('../images/index-bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;
}

/* Advantages */

.advantages {
    margin-bottom: 56px;
}

/* List */

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;

    color: #FFFFFF;
}

.advantages-item {
    width: 277px;
}

/* Title */
.advantages-title {
    margin-top: 0;
    margin-bottom: 56px;
    font-family: "PT Sans Narrow", sans-serif;
    /* font-weight: 700; */
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

/* Description */

.advantages-description {
    margin: 0;
}

/* Index columns */
.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 31px;
    padding: 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url('../images/bg-noisy.png');
}

.index-columns:last-child {
    margin-bottom: 0;
}

/* Services */
.services {
    /* font-family: "PT Sans Narrow", sans-serif; */
    width: 390px;
    text-transform: uppercase;
}

/* Title */
.services-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
}

/* Price */
.services-list {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.services-price {
    color: #AF7842;
}

.gallery {
    width: 390px;
}

/* Title */
.gallery-title {
    margin-top: 0;
    margin-bottom: 20px;
    /* font-family: "PT Sans Narrow", sans-serif; */
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.contacts {
    width: 350px;
    font-weight: 700;
}

/* Title */
.contacts-title {
    margin-top: 0;
    margin-bottom: 24px;
    /* font-family: "PT Sans Narrow", sans-serif; */
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

/* Subtitle */
.contacts-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AF7842;
}

.contacts-address {
    font-style: normal;
}

/* Phone */
.contacts-phone {
    font-size: 24px;
    line-height: 29px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}

.appointment {
    width: 430px;
}

/* Title */
.appointment-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;

}

/* List */
.appointment-form {
    color: #595959;
}

/* Label */
.form-label {
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.page-footer {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #242424;
    background-image: url('../images/bg-noisy.png');
    background-repeat: repeat;
}

.page-footer-container {
    display: flex;
    width: 940px;
    margin: 0px auto;
    padding: 40px 0;
}

.page-footer a {
    color: inherit;
}

.page-footer .htmlacademy-link {
    font-size: 14px;
    color: #DBB590;
}

.footer-contacts {
    width: 187px;
    margin-right: 143px;
}

.footer-contacts-address {
    font-style: normal;
}

.footer-contacts-address p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-contacts-address-phone {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    text-decoration: underline;
    text-transform: uppercase;
    color: #FFFFFF;

}

.footer-contacts-map-link {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;

    text-decoration: underline;
    text-transform: uppercase;
}

.page-footer-title {
    font-family: "PT Sant Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14px;
}

.footer-social {
    min-width: 190px;
    margin-left: auto;
    /* outline: 5px solid red; */
    /* outline-offset: -5px; */
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 56px;
    height: 44px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.about-text {
    margin: 0;
}

/* Catalog */

.main-inner {
    padding-top: 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url('../images/bg-noisy.png');
}

.inner-header {
    margin-bottom: 32px;
}

.inner-header-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #242424;
}

.breadcrumbs-link {
    color: inherit;
    margin-right: 32px;
}

.catalog-products {
    display: flex;
    /* outline: 5px solid red; */
    /* outline-offset: -5px; */
}


.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

/* Title */

.catalog-filter-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
}

/* Label */

.control-label {
    font-weight: 700;
}

/* Сортировка */
.catalig-right-column {
    width: 700px;
}

.sorting-container {
    display: flex;
    color: #000;
    background-color: #FFFFFF;
    padding: 16px;
    margin-bottom: 16px;
}

.sorting-type {
    margin-right: auto;
}

.sorting-container .button {
    width: 56px;
    height: 44px;
}

/* Light */
.button-light {
    color: #242424;
    background-color: #fff;
}

/* Product */

.product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Item */

.product-card {
    background-color: #fff;
}

/* Link */
.product-card-link {
    text-decoration: none;
}

/* Title */
.product-card-title {
    font-weight: 700;
    color: #242424;
}

/* Price */
.product-card-price {
    /* font-family: 'PT Sans Narrow'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    text-transform: uppercase;
    color: #814B18;
}

/* Pagination */

.pagination-container {
    display: flex;
    padding: 16px;
    color: #FFFFFF;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    line-height: 16px;
    font-weight: 700;
}

.pagination-disabled {
    background-color: #595959;
}

.pagination-current {
    color: #242424;
    background-color: #FFFFFF;
}

.pagination-show-more {
    margin-left: auto;
}