@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans/pt-sans-regular.woff2") format("woff2"),
        url("../fonts/pt-sans/pt-sans-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans/pt-sans-bold.woff2") format("woff2"),
        url("../fonts/pt-sans/pt-sans-bold.woff") format("woff");
    font-display: swap;
}

/* PT Sans Narrow */

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-narrow/pt-sans-narrow-regular.woff2")
            format("woff2"),
        url("../fonts/pt-sans-narrow/pt-sans-narrow-regular.woff")
            format("woff");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-narrow/pt-sans-narrow-bold.woff2")
            format("woff2"),
        url("../fonts/pt-sans-narrow/pt-sans-narrow-bold.woff") format("woff");
    font-display: swap;
}

html {
    height: 100%;
    /* outline: 5px solid red;
    outline-offset: -5px; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover,
.footer-social-link:hover {
    background-color: #814b18;
}

.button:focus,
.footer-social-link:focus {
    background-color: #4e2e0e;
    outline: 2px solid #dbb590;
}

.button:disabled {
    color: #e7e7e7;
    background-color: #595959;
}

.button:disabled:hover {
    background-color: #595959;
    outline: none;
    cursor: default;
}

.button + .button {
    margin-left: 16px;
}
/* Light */

.button-feedback {
    color: #242424;
    background-color: #fff;
}

.button-feedback:hover {
    background-color: #dbb590;
}

.button-feedback:focus {
    outline: 2px solid #af7842;
    background-color: #dbb590;
}

/* Pages */
.page-header {
    color: #ffffff;
    background: #000000;
}

.navigation {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 470px;
    /* 320px + (320 / 3) */
    list-style-type: none;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 24px 19px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-link:hover {
    background-color: #595959;
}

.navigation-link:focus {
    box-shadow: inset 0 0 0 4px #e7e7e7;
    outline: none;
}

.navigation-link-current::before {
    content: "";
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 0;
    height: 4px;
    background-color: #fff;
}

.navigation-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill: #dbdbdb;
}

.navigation-link:hover .navigation-icon {
    fill: #242424;
}

.navigation-link:focus .navigation-icon {
    fill: #dbdbdb;
}

.navigation-logo {
    display: flex;
    align-items: center;
    width: 140px;
    margin-right: 100px;
}

.navigation-user {
    max-width: 210px;
    /* 210px + 40px для возможно еще одной иконки */
    margin-left: auto;
}

.navigation-link-login {
    padding-left: 44px;
    /* outline: 5px solid #ff6347; */
    /* outline-offset: -5px; */
}

.navigation-link-login .navigation-icon {
    left: 20px;
    right: auto;
    margin: auto 0;
}

.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
    /* outline: 5px solid #ff6347; */
    /* outline-offset: -5px; */
}

/* .navigation-user .navigation-item:nth-child(2) .navigation-link {
    background-image: url("/images/");
    background-repeat: no-repeat;
    background-position: center;
} */

.main-container {
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 60px;
}

.main-index {
    color: #ffffff;
    background-color: #000;
    background-image: url("../images/index-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main-inner {
    padding-top: 40px;
    color: #242424;
    background-color: #fbf7f4;
    background-image: url("../images/bg-noisy.png");
}

.page-container {
    width: 940px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;
}

/* Advantages */

.advantages {
    margin-bottom: 58px;
}

/* List */

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;

    color: #ffffff;
}

/* Item */

.advantages-item {
    width: 277px;
}

/* Title */
.advantages-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 56px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.advantages-title::before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: #fff;
    transform: rotate(45deg);
}

/* Description */

.advantages-description {
    margin: 0;
}

/* Index columns */
.index-columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
    padding: 40px;
    color: #242424;
    background-color: #fbf7f4;
    background-image: url("../images/bg-noisy.png");
}

.index-columns::after {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 0;
    border-right: 1px dotted #595959;
}

.index-columns:first-of-type::after {
    left: 470px;
}

.index-columns:last-of-type::after {
    left: 430px;
}

.index-columns:last-child {
    margin-bottom: 0;
}

/* Services */
.services {
    width: 390px;
    text-transform: uppercase;
}

/* Title */
.services-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
}

/* Price */
.services-list {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    list-style-type: none;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.services-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 22px;
}

.services-item::before {
    flex-grow: 1;
    content: "";
    border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
    margin-right: 16px;
    margin-left: 16px;
    order: 2;
}

.services-price {
    order: 3;
    color: #af7842;
}

.gallery {
    width: 390px;
}

.button-all {
    padding-right: 44px;
    background-image: url("/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center right 20px;
    /* outline: 5px solid #ff6347; */
}

/* Title */
.gallery-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.contacts {
    width: 350px;
    font-weight: 700;
}

/* Title */
.contacts-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.contacts-address {
    font-style: normal;
}

/* Subtitle */
.contacts-subtitle {
    margin-top: 22px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #af7842;
}

.contacts-address-text {
    margin: 8px 0;
}

/* Phone */
.contacts-phone {
    font-size: 24px;
    line-height: 29px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}

.contacts-schedule {
    margin: 8px 0;
    padding: 0;
    list-style-type: none;
}

.contacts-navigation {
    margin-top: 21px;
    margin-bottom: 0;
}

.appointment {
    width: 430px;
}

.appointment-form {
    display: grid;
    grid-template-columns: 114px 74px 208px;
    gap: 15px;
}

.field-group {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.appointment-form-name {
    grid-column: 1 / -1;
}

.appointment-submit {
    grid-column: 1 / -1;
    justify-self: start;
}

/* Title */
.appointment-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

/* List */

.appointment-info {
    color: #595959;
}

/* Label */
.form-label {
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

/* Footer */

.page-footer {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #242424;
    background-image: url("../images/bg-noisy.png");
    background-repeat: repeat;
}

.page-footer-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 40px 0;
}

.page-footer a {
    color: #fff;
}

.page-footer .htmlacademy-link {
    font-size: 14px;
    color: #dbb590;
}

.page-footer-title {
    margin-top: 0;
    margin-bottom: 14px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-contacts {
    width: 200px;
    margin-right: 130px;
}

.footer-contacts-logo {
    display: block;
    margin-bottom: 24px;
}

.footer-about-text {
    margin-top: 0;
    margin-bottom: 4px;
}

.footer-contacts-address {
    margin-bottom: 16px;
    font-style: normal;
}

.footer-contacts-address p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
}

.footer-contacts-address-phone {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    text-decoration: underline;
    text-transform: uppercase;
}

.footer-contacts-map-link {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;

    text-decoration: underline;
    text-transform: uppercase;
}

.newsletter-form {
    display: flex;
}

.newsletter-button {
    width: 56px;
    height: 44px;
    background-image: url("../images/arrow-tail-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
}

.footer-social {
    max-width: 190px;
    margin-left: auto;
    /* outline: 5px solid red; */
    /* outline-offset: -5px; */
}

.footer-social p {
    margin: 0;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 56px;
    height: 44px;
    margin-right: 8px;
    margin-bottom: 8px;
    /* outline: 5px solid #ff6347; */
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-social-link {
    display: block;
    height: 44px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
}

.footer-social-tw {
    background-image: url("../images/twitter.svg");
}

.footer-social-vk {
    background-image: url("../images/vk.svg");
}

.footer-social-instagram {
    background-image: url("../images/instagram.svg");
}

.about-text {
    margin: 0;
}

/* Catalog */

.inner-header {
    margin-bottom: 32px;
}

.inner-header-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #242424;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 32px;
    /* list-style-type: none; */
}

.breadcrumbs-item::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 10px;
    right: -20px;
    background-color: #242424;
    transform: rotate(45deg);
}

.breadcrumbs-item:last-of-type::after {
    content: none;
}

.breadcrumbs-link {
    color: inherit;
    /* margin-right: 32px; */
}

.catalog-products {
    display: flex;
    /* outline: 5px solid red; */
    /* outline-offset: -5px; */
}

.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

/* Title */

.catalog-filter-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
}

/* Label */

.control-label {
    font-weight: 700;
}

/* Сортировка */
.catalig-right-column {
    width: 700px;
}

.sorting-container {
    display: flex;
    color: #000;
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
}

.sorting-type {
    margin-right: auto;
}

.card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 56px;
    height: 44px;
    /* outline: 5px solid #ff6347; */
}

.card-grid-toggle:hover {
    background-color: #814b18;
}

.card-grid-toggle:focus {
    outline: 2px solid #dbb590;
    background-color: #4e2e0e;
}

.card-grid-toggle svg {
    fill: #fff;
}

.card-grid-toggle:hover svg,
.card-grid-toggle:focus svg {
    fill: #fff;
}

.card-grid-toggle-current {
    background-color: #fff;
}

.card-grid-toggle-current svg {
    fill: #000;
}

/* Light */
.button-light {
    color: #242424;
    background-color: #fff;
}

/* Product */

.product-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 220px);
    /* display: flex; */
    /* flex-wrap: wrap; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* justify-content: space-between; */
    margin-bottom: 24px;
}

/* Item */

.product-card {
    background-color: #fff;
    display: grid;
    grid-template-rows: 200px min-content auto min-content 16px;
    grid-template-columns: 16px 188px 16px;
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 220px; */
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
}

.product-card-title-link,
.product-card-price,
.producr-card-button {
    grid-column: 2 / 3;
}

/* .product-card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex-grow: 1;
} */

/* .product-card:nth-child(3n) {
    margin-right: 0;
} */

/* Link */
/* .product-card-image-link {
    text-decoration: none;
} */

/* Title */
.product-card-title-link {
    /* grid-column: 2 / 3; */
    margin-top: 16px;
    margin-bottom: 8px;
}

.product-card-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #242424;
}

/* Image */

.product-card-image-link {
    /* display: block; */
    grid-column: 1 / -1;
    background-color: #f6f6f6;
}

/* Price */
.product-card-price {
    /* font-family: 'PT Sans Narrow'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;

    text-transform: uppercase;
    color: #814b18;
}

/* Button-card */

.producr-card-button {
    /* margin-top: auto; */
}

/* Pagination */

.pagination-container {
    display: flex;
    padding: 16px;
    color: #ffffff;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    line-height: 16px;
    font-weight: 700;
}

.pagination-link:hover {
    background-color: #814b18;
}

.pagination-link:focus {
    outline: 2px solid #dbb590;
    background-color: #4e2e0e;
}

.pagination-prev {
    background-image: url("/images/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.pagination-next {
    background-image: url("/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.pagination-disabled {
    background-color: #595959;
}

.pagination-current {
    color: #242424;
    background-color: #ffffff;
}

.pagination-show-more {
    margin-left: auto;
}
